# Environment Variables
NAME=Audrey B.
URL=audreyboucher.dev

# Storybook
VITE_STORYBOOK_URL=http://localhost:6006/

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=ProjectName

# Google App Password
EMAIL_USER=email@gmail.com
EMAIL_PASS=password