# Environment Variables
NAME=Audrey B.
URL=http://localhost:5173

# Storybook
VITE_STORYBOOK_URL=http://localhost:6006/

# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=ProjectName

# API
VITE_API_URL=http://localhost:5000

# Google App Password
EMAIL_USER=email@gmail.com
EMAIL_PASS=password