@import '../../../styles/colors';
@import '../../../styles/variables';

.container > div {
  padding: 150px 0;
}

.carrouselImageContainer {
  &:after, &:before {
    font-size: 20px;
    font-weight: 600;
    color: $secondary;
    white-space: pre;
  }

  &:before {
    content: 'const display_pics = () => {\A    return [';
  }

  &:after {
    content: '    ];\A};';
  }
}

.textContainer {
  max-width: 580px;
}

.title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.carrouselTextContainer {
  margin-top: 40px;
}

.carrouselText {
  & + .carrouselText {
    margin-top: 40px
  }

  figure {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;

    img {
      position: absolute;
      top: -1000px;
      bottom: -1000px;
      margin: auto;
      width: 100%;
    }
  }

  h5 {
    line-height: 36px;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;

    span:first-child {
      text-transform: capitalize;
      font-size: 46px;
    }

    span + span:before {
      content: ' & ';
    }
  }

  &:not(.selected) {
    cursor: pointer;

    div {
      display: none;
    }
  }

  &.selected h5 {
    line-height: 72px;
    font-size: 72px;
    color: $secondary;

    span:first-child {
      font-size: 92px;
    }
  }

  div {
    padding-top: 20px;
  }

  p {
    font-size: 14px;

    & + p {
      margin-top: 10px;
    }
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin: 70px 0;

  .dot {
    position: relative;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: rgba($secondary, .5);
    cursor: pointer;

    &.selected {
      background: $secondary;

      &:before {
        content: '';
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
        border: 1px solid $secondary;
        border-radius: 100%;
      }
    }

    & + .dot {
      margin-left: 30px;
    }
  }
}

@media screen and (min-width: #{$desktop_max_width + 1}) {
  .mobileOnly {
    display: none;
  }
}

@media screen and (max-width: $desktop_max_width) {
  .desktopOnly {
    display: none;
  }

  .title {
    text-align: center;
  }

  .textContainer {
    width: 100%;
    max-width: none;
  }

  .carrouselTextContainer {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
  }

  .carrouselText {
    position: absolute;
    left: -100vw;
    width: 100%;
    background: $secondary_bg;
    transition: left .5s linear;

    &.selected {
      left: 0;

      & ~ .carrouselText {
        left: 100vw;
      }
    }

    &:not(.selected) div {
      display: block;
    }

    h5 {
      margin-top: 70px;
      line-height: 36px !important;
      font-size: 36px !important;
      color: $secondary;

      span:first-child {
        text-transform: capitalize;
        font-size: 46px !important;
      }
    }

    & + .carrouselText {
      margin: 0;
    }
  }
}
