.container {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;

  p {
    display: inline-flex;
    align-self: center;
    border: thin solid currentColor;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    color: var(--primary);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
  }

  h5 {
    font-size: clamp(.875rem, 2.5vw, 1.5rem);
    font-weight: 500;
  }

  h6 {
    margin: .625rem 0;
    font-size: clamp(.75rem, 2.5vw, 1.25rem);
    font-weight: 300;
  }

  ul {
    font-size: clamp(.75rem, 2.5vw, .875rem);
    font-weight: 200;

    li {
      display: flex;

      &:before {
        content: '';
        flex-shrink: 0;
        margin: .625rem;
        width: .1875rem;
        height: .1875rem;
        background: var(--text);
        border-radius: 100%;
      }
    }
  }
}
