@use '@/styles/breakpoints' as *;

.container > div {
  min-height: auto;
  padding: 6.25rem 0 12.5rem;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 4.375rem;
}

.title {
  flex-basis: 100%;
  margin-bottom: 6.25rem;
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: $mobile_nav_width) {
  .contentContainer {
    flex-direction: column;
  }
}