@import '../../../styles/colors';
@import '../../../styles/variables';

.container > div {
  min-height: auto;
  padding: 100px 0 200px;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.title {
  flex-basis: 100%;
  margin-bottom: 100px;
  color: $secondary;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: $mobile_nav_max_width) {
  .contentContainer {
    flex-direction: column;

    article + article {
      margin-top: 70px;
    }
  }
}
