.container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  text-decoration: none;

  &.nonClickable {
    cursor: default;
    pointer-events: none;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background: var(--primary);

    img {
      width: 2.125rem;
      height: 2.125rem;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    color: var(--text);

    h6 {
      font-size: clamp(.75rem, 2vw, .875rem);
      font-weight: 600;
    }

    p {
      font-size: .75rem;
      font-weight: 400;
      opacity: .7;

      &.callToAction:after {
        content: ' >';
      }
    }
  }
}