@import './colors';
@import './variables';
@import './fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  outline: none;
}

html, body {
  background-color: $main_bg;
  color: $primary;
  overflow-x: hidden;
}

li {
  list-style: none;
}

button {
  border: none;
}
