@use '@/styles/breakpoints' as *;

.container {
  position: relative;
}

.mouseOverZone {
  position: relative;
  cursor: help;

  &:after {
    content: '';
    position: absolute;
    top: -.625rem;
    left: -.625rem;
    right: -.625rem;
    bottom: -.625rem;
    z-index: 0;
  }

  &:is(:hover, :focus) ~ .infoBox {
    visibility: visible;
    opacity: 1;
  }
}

.questionMark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: .9375rem;
  height: .9375rem;
  color: var(--background-tooltip);
  font-size: .625rem;
  border: thin solid var(--background-tooltip);
  border-radius: 100%;
}

.infoBox {
  position: absolute;
  top: 100%;
  left: -15.625rem;
  right: -15.625rem;
  margin: auto;
  border-radius: .3125rem;
  padding: .9375rem;
  width: 15.625rem;
  max-width: 80vw;
  background: var(--text-dark);
  color: var(--background-secondary);
  font-size: .625rem;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: visibility 0s, opacity .5s linear;

  &:hover {
    visibility: visible;
    opacity: 1;
  }

  a {
    color: var(--primary);
  }
}

@media screen and (max-width: $mobile_nav_width), (-moz-touch-enabled: 1), (pointer:coarse) {
  .infoBox {
    transform: none !important;
  }
}