@import '../../styles/colors';
@import '../../styles/variables';

.container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 40px;
  background: $header_bg;
  z-index: 100;

  & > div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $desktop_max_width;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: $header_container_height;
  height: $header_container_height;
  background: $secondary;
  cursor: pointer;

  & + h1 {
    text-transform: uppercase;
    font-weight: 600;
    cursor: default;
  }
}

@media screen and (max-width: $mobile_nav_max_width) {
  .container {
    padding: 10px 20px;

    & > div {
      align-items: center;
    }
  }

  .logo {
    padding: 10px;
    width: 60px;
    height: 60px;
  }
}
