@use '@/styles/breakpoints' as *;

.container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: var(--header-height);
  background: var(--background-header);
  z-index: 100;

  & > div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.25rem;
    margin: 0 auto;
    padding: 0 2.5rem;
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;

  &:focus-visible svg {
    border-width: .375rem;
    border-radius: .375rem;
    padding: .375rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--header-height);
  height: var(--header-height);
  background: var(--primary);
  cursor: pointer;

  svg {
    border: 0 solid var(--background-header);
    transition: all .1s linear;
  }

  & + h1 {
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: $mobile_nav_width) {
  .container > div {
    align-items: center;
    padding: .625rem 1.25rem;
  }

  .logo {
    padding: .625rem;
    width: 3.125rem;
    height: 3.125rem;

    & + h1 {
      font-size: clamp(1rem, 1vw, 1.5rem);
    }
  }

  .navContainer {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: $smaller_mobile_nav_width) {
  .logoContainer h1 {
    display: none;
  }
}