@import '../../../../styles/colors';
@import '../../../../styles/variables';

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  cursor: pointer;

  &.hasSubMenu {
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $primary;
      transition: all .3s linear;
    }

    &:hover {
      &:after {
        border-top-color: $secondary;
        transform: rotate(180deg);
      }

      .subMenu {
        padding: 10px 20px;
        height: auto;
      }
    }

    span {
      margin-right: 10px;
    }
  }

  &.disabled {
    color: $disabled;
    cursor: not-allowed;

    span {
      margin-right: 10px;
    }

    &:after {
      content: 'Coming soon';
      background-color: $secondary;
      color: $primary;
      padding: 2px 10px;
      border-radius: 5px;
      font-size: .65em;
      font-weight: 300;
    }
  }

  & + .listItem {
    padding-left: 25px;
  }

  span {
    text-transform: uppercase;
    font-weight: 400;
    transition: all .3s linear;
  }

  &:not(.disabled):hover span {
    color: $secondary;
  }
}

.subMenu {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0 20px;
  height: 0;
  background-color: $primary;
  color: $main_bg;
  text-align: right;
  overflow: hidden;
  transition: all .3s linear;

  li {
    padding: 5px 10px;

    &.disabled {
      color: $secondary_bg;
      cursor: not-allowed;
    }

    &:not(.disabled):hover {
      color: $secondary;
    }

    & + li {
      border-top: 1px solid lighten($disabled, 60%);
    }
  }
}

@media screen and (max-width: $mobile_nav_max_width) {
  .listItem {
    height: auto;
    font-size: 20px;

    & + .listItem {
      padding-top: 30px;
      padding-left: 0;
    }
  }

  .hasSubMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:after {
      display: none;
    }

    span:after {
      content: '';
      margin-left: 10px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $primary;
      transition: all .3s linear;
    }

    &:hover span:after {
      border-top-color: $secondary;
    }
  }

  .subMenu {
    position: relative;
    top: auto;
    right: auto;
    padding: 0 0 0 30px !important;
    height: auto;
    background: none;
    color: $primary;
    text-align: left;

    li {
      text-transform: uppercase;
      margin-top: 30px;

      & + li {
        border: none;
      }
    }
  }

  .disabled {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
