@use '@/styles/breakpoints' as *;

.container {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  @media screen and (max-width: $mobile_nav_width) {
    flex-basis: 50%;
  }

  @media screen and (max-width: $smaller_mobile_nav_width) {
    flex-basis: 100%;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3125rem;

  & > p {
    font-size: .875rem;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .3125rem;
  width: 1.875rem;
  height: 1.875rem;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}