@use '@/styles/breakpoints' as *;

.footer {
  padding: 3.125rem 2.5rem;
  background: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3.125rem;
  margin: 0 auto;
  max-width: $desktop_max_width;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.25rem .5rem;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  text-align: center;
  font-size: clamp(.75rem, 2vw, .875rem);
  font-weight: 100;
}

@media screen and (max-width: $mobile_nav_width) and (min-width: $mobile_max_width) {
  .linksContainer a {
    width: 50%;
    flex: 1 0 50%;
  }
}

@media screen and (max-width: $mobile_max_width) {
  .linksContainer {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    a {
      align-self: flex-start;
    }
  }
}