@import '../../styles/colors';
@import '../../styles/variables';

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($secondary, 0.6);
  }

  100% {
    box-shadow: 0 0 0 20px rgba($secondary, 0);
  }
}

.container {
  display: flex;
  align-items: center;
  width: 100%;

  & + .container {
    margin-top: 50px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .tools {
      justify-content: flex-end;

      &:before {
        left: auto;
        right: -60px;
      }
    }
  }

  & > * {
    flex-basis: 50%;
    margin: 0 50px;
  }
}

.details {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 10px;
  }

  div {
    display: flex;
    font-size: 24px;

    p {
      color: $secondary;
      font-weight: 600;
    }

    h6 {
      margin-left: 30px;
      font-size: 24px;
      font-weight: 400;
    }
  }

  h5 {
    font-size: 28px;
    font-weight: 200;
  }

  ul {
    font-size: 16px;
    font-weight: 200;

    li {
      display: flex;

      &:before {
        content: '';
        flex-shrink: 0;
        margin: 12px 10px;
        width: 5px;
        height: 5px;
        background: $primary;
        border-radius: 100%;
      }
    }
  }

  & > p {
    font-size: 16px;

    &:last-child {
      font-weight: 200;
      opacity: .7;
    }
  }
}

.tools {
  display: flex;
  justify-content: flex-start;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -60px;
    margin: auto;
    width: 20px;
    height: 20px;
    background: $secondary;
    border-radius: 100%;
    animation: pulse 2s infinite;
  }

  li + li {
    margin-left: 20px;
  }

  figure {
    position: relative;
    display: flex;
    align-items: center;
    cursor: help;

    &:hover figcaption {
      visibility: visible;
      opacity: 1;
    }
  }

  img {
    height: 30px;
  }

  figcaption {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px auto 0;
    border-radius: 5px;
    padding: 5px 15px;
    background: darken($primary, 10%);
    color: $secondary_bg;
    font-size: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity .5s linear;
  }
}

@media screen and (min-width: #{$mobile_nav_max_width + 1}) {
  .mobileOnly {
    display: none;
  }
}

@media screen and (max-width: $mobile_nav_max_width) {
  .container {
    flex-direction: column !important;
    align-items: flex-start;
    position: relative;
    padding: 50px 30px;

    .tools {
      position: static;
      margin-top: 50px;

      &:before {
        top: 0;
        bottom: 0;
      }
    }

    &:first-of-type {
      .firstLine {
        display: block;
      }
    }

    &:last-of-type {
      .lastLine {
        display: block;
      }
    }

    &:nth-child(odd) {
      .tools:before {
        left: -10px;
      }

      .topLine, .sideLine, .bottomLine {
        left: 0;
      }
    }

    &:nth-child(even) {
      .tools:before {
        right: -10px;
      }

      .topLine, .sideLine, .bottomLine {
        right: 0;
      }
    }

    & + .container {
      margin-top: -1px;
    }
  }

  .details {
    div h6 {
      font-size: 22px;
    }

    h5 {
      font-size: 24px;
    }
  }

  .lines {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    pointer-events: none;

    & > * {
      position: absolute;
      margin: auto;
    }
  }

  .firstLine, .lastLine {
    display: none;
    left: 0;
    right: 0;
    height: 20px;
  }

  .topLine, .bottomLine {
    width: 50%;
  }

  .firstLine {
    bottom: 100%;
  }

  .topLine {
    top: 0;
  }

  .sideLine {
    top: 0;
    bottom: 0;
    height: 100%;
  }

  .bottomLine {
    bottom: 0;
  }

  .lastLine {
    top: 100%;
  }
}
