@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.container {
  & > * {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: -400vh;
    bottom: -400vh;
    left: -400vw;
    right: -430vw;
    margin: auto;
    width: 400vw;
    height: 400px;
    background-color: rgba(#fff, .02);
    transform: rotate(-60deg);
    z-index: 0;
  }
}

.textContainer {
  width: 600px;
  max-width: 50%;

  & > * + * {
    margin-top: 40px;
  }

  h2, h3 {
    height: $header_height;
    line-height: $header_height;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }
}

.imageContainer {
  display: flex;
  align-items: center;

  &:before {
    content: '<';
  }

  &:after {
    content: '/>';
  }

  &:before, &:after {
    color: $secondary;
    font-family: 'Jaro', serif;
    font-size: 128px;
    letter-spacing: -5px;
  }

  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    background: #fff;

    @include rounded-hex(
			$main-radius: 20%, 
			$rounding-radius: 12%
		);
  }
}

.highlightedText {
  color: $secondary;
  font-weight: 700;
}

.linksContainer {
  display: block;
  position: fixed;
  top: 250px;
  right: 0;
  height: 120px;
}
