@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.container {
  & > div {
    flex-wrap: wrap-reverse;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: -400vh;
    bottom: -400vh;
    left: -400vw;
    right: -430vw;
    margin: auto;
    width: 400vw;
    height: 400px;
    background-color: rgba(#fff, .02);
    transform: rotate(-60deg);
    z-index: 0;
  }
}

.textContainer {
  width: 700px;

  & > * + * {
    margin-top: 40px;
  }

  h2, h3 {
    line-height: $header_height;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;

  &:before {
    content: '<';
  }

  &:after {
    content: '/>';
  }

  &:before, &:after {
    color: $secondary;
    font-family: 'Jaro', serif;
    font-size: 128px;
    letter-spacing: -5px;
  }

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    background: #fff;

    @include rounded-hex(
			$main-radius: 20%, 
			$rounding-radius: 12%
		);
  }
}

.highlightedText {
  color: $secondary;
  font-weight: 700;
}

.linksContainer {
  display: block;
  position: fixed;
  top: 250px;
  right: 0;
  height: 120px;
}

@media screen and (max-width: $desktop_max_width) {
  .container > div {
    justify-content: space-evenly;
    align-items: initial;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: $mobile_nav_max_width) {
  .desktopOnly {
    display: none;
  }

  .imageContainer {
    margin-top: 100px;

    img {
      width: 200px;
      height: 200px;
    }

    &:before, &:after {
      font-size: 64px;
    }
  }

  .textContainer {
    h2, h3 {
      font-size: 40px;
    }
  }
}
