.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  & > div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

.title {
  text-shadow: -.0625rem 0 var(--text), 0 .0625rem var(--text), .0625rem 0 var(--text), 0 -.0625rem var(--text);
  color: var(--background);
  font-size: clamp(10rem, 5vw, 12.5rem);
}

.subtitle {
  font-size: 3rem;
  font-weight: 600;
}

.paragraph {
  margin-bottom: 6.25rem;
  color: var(--text-dark);
  font-size: 1.25rem;
}
